# Uncomment this to debug the .envrc files.
#DEBUG_FROM_LOGGING_FUNCTIONS=yes

# Source the global .envrc file, and then export/override our variables. If
# sourcing it fails, we can't safely use the .debug() function declare in it.
#
local f="./.tools/.envrc.global"
source_env "$f"                     \
    && .debug Done sourcing "$f"    \
|| echo ERROR: Failed to source "$f"

# TaskWarrior custom file locations
export TASKRC="$PWD/.tools/config/taskrc"
export TASKDATA="$PWD/.tools/data/task"
