tools_path="${PWD}/.tools/bin"

# Adapted from https://github.com/direnv/direnv/issues/73#issuecomment-152284914
make_local_command() {
  local name=$1
  local commands_dir="$tools_path"
  local target="$commands_dir/$name"

  # A possible optimization is that we can check if $target exists, and perform
  # these expensive filesystem operations only if $target is not already
  # present. But I chose to not implement that optimization because it would
  # lead to the undesirable behaviour where someone changes the definition of a
  # local command, but that change would not take effect until they remove the
  # $target and rerun `direnv allow`. In absence of that optimization, direnv
  # will automatically emit a warning whenever a local command's definition is
  # changed in this file, and remind the user to execute `direnv allow`.

  mkdir -p "$commands_dir"
  PATH_add "$commands_dir"
  echo "#!/usr/bin/env bash" > "$target"
  args_except_first=("${@:2}")
  echo "$args_except_first" >> "$target"
  chmod +x "$target"
}

make_local_command find_exactdepth '
function main()
{
    local depth="${1:-0}"
    local path="${2:-./}"
    find "$path" -mindepth "$depth" -maxdepth "$depth" "${@:3}"
}

main "$@"
'

export GIT_AUTHOR_NAME=Founder
export GIT_AUTHOR_EMAIL=founder@hackernews.hn

export GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
export GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"

